@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap');

.card-content {
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 75px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative; 
}

.profilePhoto {
    width: 100%;
}

.profileName {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.deleteAndEditButtons {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.detailsButton {
    background-color: black;
}

.uploadPrintForm {
    background-color: black;
    padding: 3px 2px 3px 2px;
    display: flex; 
}

.profileFavoriteQuote {
    font-family: 'Londrina', serif;
    color: black;
    font-style: italic;
    font-weight: lighter;
    font-size: 18px;
    margin-top: -15px;
}

.profileBusinessName {
    font-family: 'Londrina', serif;
    font-weight: bold;
    margin-bottom: -45px;
    font-size: large;
}

.profileAddress {
    font-family: 'Londrina', serif;
    margin-bottom: -28px;
}

.profilePhone {
    font-family: 'Londrina', serif;
    margin-bottom: -29px;
}

.profileEmail {
    font-family: 'Londrina', serif;
}

.profileAboutMeTitle {
    font-family: 'Cinzel', serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.profileBio {
    font-family: 'Londrina', serif;
    color: black;
    font-weight: lighter;
    font-size: 18px;
    margin-top: -15px;
    font-style: italic;

}

.profileDeleteButton {
    background-color: goldenrod;
    color:  #20355a;
    text-shadow: 2px 2px 2px white;
    padding: 10px 10px 10px 10px;
}

.profileEditButton {
    background-color: goldenrod;
    color:  #20355a;
    text-shadow: 2px 2px 2px white;
    padding: 10px 10px 10px 10px;
}

.saveEditedProfileButton {
    background-color: goldenrod;
    color:  #20355a;
    text-shadow: 2px 2px 2px white;
    padding: 10px 10px 10px 10px;
}




