@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap');

.navBar a:hover {
    color: maroon;
}

nav li {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
}

.nav-link {
    color: goldenrod;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 10px;
}

.div {
    align-self: center;
}

.links-Profile {
    padding-right: 10px;
}

.links-Prints {
    padding-right: 10px;
}

.links-wishlist {
    padding-left: 10px;
}