.logoImage {
    width: 30%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
}

li {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

p {
    margin-top: -20px;
}
