@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

.card-content {
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative; 
}

.printTitle {
    color: black;
}

img {
    width: 100%;
}

.addNewInventoryBTN {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    color:  #20355a;
    text-shadow: 2px 2px 2px white;
}

h1 {
    color: white;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 2px  #20355a;
    color: #d4dcdc;
    margin-bottom: 2px;
}

.printTitle {
    font-family: 'Cinzel', serif;
    font-weight: bolder;
}

.deleteAndEditButtons {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.detailsButton {
    background-color: black;
}

.uploadPrintForm {
    background-color: black;
    padding: 3px 2px 3px 2px;
    display: flex; 
}

.photoFileSearchButton {
    background-color: #20355a;
}

.uploadImageField {
    display: flex;
    flex-direction: column;
}

.uploadNewPrintSubmitButton {
    background-color: goldenrod;
    color:  #20355a;
    text-shadow: 2px 2px 2px white;
}

input.photoFileSearchButton {
    margin-left: 90px;
}

.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
  }
  
  .button-like span {
    margin-left: 0.5rem;
  }
  
  .button-like .fa,
  .button-like span {
    transition: all ease 0.4s;
  }
  
  .button-like:focus {
    background-color: transparent;
  }
  
  .button-like:focus .fa,
  .button-like:focus span {
    color: #8a8a8a;
  }
  
  .button-like:hover {
    border-color: #cc4b37;
    background-color: transparent;
  }
  
  .button-like:hover .fa,
  .button-like:hover span {
    color: #cc4b37;
  }
  
  .liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked .fa,
  .liked span {
    color: #fefefe;
  }
  
  .liked:focus {
    background-color: #cc4b37;
  }
  
  .liked:focus .fa,
  .liked:focus span {
    color: #fefefe;
  }
  
  .liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked:hover .fa,
  .liked:hover span {
    color: #fefefe;
  }
  